/* itempage.css */


#c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    /* color: white; */
}
#kinbech{
    /* position: fixed; */
    
    font-size: x-large;
    color: white;
    
}



/* Styles for buttons */
.sign {
    position: absolute;
    right: 95px;
    font-size: large;
    top: 10px;
    /* width: 100px; */
    height: 35px;
    /* font-size: x-large; */
    /* text-align: center; */
}
.login {
    position: relative;
    font-size: large;
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* Style for image */
#a  {
    width: 50%;
    /* height: 110px; */
    /* height: auto; */
    /* max-width: 400px; */
}
a.img{
    width: 50%;
}
#Bookmark{
    position: absolute;
    left: 20px;
    top: 770px;
    width: 150px;
    height: 30px;
    font-size: large;
}

/* Styles for description */
#b {
    padding: 20px;
    width: 55%;
    position: absolute;
    right: 1px;
    top: 20px;
    font-size: larger;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}



h5 {
    font-weight: bold;
}

